      <hr>
      <!-- <div id="drewModal" class="modal hide fade">
            <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                  <h3>Drew is my hero!</h3>
            </div>
            <div class="modal-body">
                  <p>One fine body, and one fiiiiiine face.</p>
            </div>
            <div class="modal-footer">
                  <a href="#" class="btn">Go 'way!</a>
                  <a href="#" class="btn btn-primary">Do eet!</a>
            </div>
      </div> -->

      <footer>
        <p>&copy; {{ site.time | date: '%Y' }} <a href="http://twitter.com/thatdrewgilliam" target="_blank">@{{ site.author.twitter }}</a>
          <a href="https://docs.google.com/uc?export=download&id=0B5nbSn43g05QR05LdnBsYVg3aGc" id="print_btn" class="btn btn-primary">Download Portfolio</a>
              
<!--         <p><a href="#drewModal" data-toggle="modal" class="btn btn-danger">Modal!</a></p> -->
      </footer>

      <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-58499633-1', 'auto');
      ga('send', 'pageview');

      </script>
