      <hr>
      <div class="modal hide fade">
            <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                  <h3>Drew is my hero!/h3>
            </div>
            <div class="modal-body">
                  <p>One fine body, and one fiiiiiine face.</p>
            </div>
            <div class="modal-footer">
                  <a href="#" class="btn">Go 'way!</a>
                  <a href="#" class="btn btn-primary">Do eet!</a>
            </div>
      </div>
      <footer>
        <p>&copy; {{ site.time | date: '%Y' }} <a href="http://twitter.com/thatdrewgilliam" target="_blank">@{{ site.author.twitter }}</a></p>
        <p><a href="#" data-toggle="modal" class="btn btn-danger">Modal!</a></p>
      </footer>


