      <hr>
      <!-- <div id="drewModal" class="modal hide fade">
            <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                  <h3>Drew is my hero!</h3>
            </div>
            <div class="modal-body">
                  <p>One fine body, and one fiiiiiine face.</p>
            </div>
            <div class="modal-footer">
                  <a href="#" class="btn">Go 'way!</a>
                  <a href="#" class="btn btn-primary">Do eet!</a>
            </div>
      </div> -->
      <footer>
        <p>&copy; {{ site.time | date: '%Y' }} <a href="http://twitter.com/thatdrewgilliam" target="_blank">@{{ site.author.twitter }}</a>
              <a href="https://docs.google.com/uc?export=download&id=0Bww_pGWxVipcRkpiUkNiczd6R2c" class="btn btn-primary">Download Portfolio</a>
              <a href="https://docs.google.com/uc?export=download&id=0Bww_pGWxVipcWUlxeUR4dlczcFU" class="btn btn-default" >Download Resume</a></p>

<!--         <p><a href="#drewModal" data-toggle="modal" class="btn btn-danger">Modal!</a></p> -->
      </footer>
